<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
    <meta property="og:title" content="Sangam Nayak : A Web Developer">
    <meta property="og:description" content="
Hi, I'm Sangam Nayak, a Self-taught passionate fullstack developer. I am learning for fullstack from dec-2021. I've made 12+ projects and one live project (ARtransport.site).">
    <meta property="og:image" content="img/icon.svg"> 
    <meta property="og:url" content="raxmice.in">
    <%- include('includes/plugs'); %>
    <%- include('includes/blog'); %>
</head>
<body>
    <%- include('includes/header2'); %>
    <%- include('index/navbutton2'); %>
    <%- include('blog/blogs'); %>
    <%- include('includes/footer'); %>
</body>
<%- include('includes/plugjs'); %>
</html>
