<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sangam Nayak - FullStack</title>
    <%- include('includes/plugs'); %>
</head>
<body>
    <%- include('includes/header'); %>
    <div class="backbox"></div>
    <%- include('index/secone'); %>
    <%- include('index/sectwo'); %>
    <div class="aboutbox"></div>
    <%- include('index/secabout'); %>
    <%- include('index/motivation'); %>
    <%- include('index/skillbg'); %>
    <%- include('index/skills'); %>
    <%- include('index/projects'); %>
    <%- include('index/contact'); %>
    <%- include('includes/footer'); %>
</body>
<%- include('includes/plugjs'); %>
</html>