<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sangam Nayak : Creative Fullstack Web Developer</title>
    <meta property="og:title" content="Sangam Nayak : Creative Fullstack Web Developer">
    <meta property="og:description" content="
I'm currenty available for freelance work. If you have a project that you want to get started, think you need my help with something then contact me.">
    <meta property="og:image" content="img/icon.svg"> 
    <meta property="og:url" content="raxmice.in">
    <%- include('includes/plugs'); %>
</head>
<body>
    <%- include('includes/header'); %>
    <%- include('index/navbutton'); %>
    <div class="backbox"></div>
    <%- include('index/secone'); %>
    <%- include('index/sectwo'); %>
    <div class="aboutbox"></div>
    <%- include('index/secabout'); %>
    <%- include('index/motivation'); %>
    <%- include('index/skillbg'); %>
    <%- include('index/skills'); %>
    <%- include('index/projects'); %>
    <%- include('index/contact'); %>
    <%- include('includes/footer'); %>
</body>
<%- include('includes/plugjs'); %>
</html>
