<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sangam Nayak : Creative Fullstack Web Developer</title>
    <meta name="description" content="
I'm currenty available for freelance work. If you have a project that you want to get started, think you need my help with something then contact me.">
    <meta name="keywords" content=" web developer,fullstack developer,CREATIVE FULLSTACK WEB DEVLOPER,freelancer,freelance work,sangam nayak,raxmice"
    <meta property="og:locale" content="en_US">
    <meta property="og:title" content="Sangam Nayak : Creative Fullstack Web Developer">
    <meta property="og:url" content="http://raxmice.in/">
    <meta property="og:image" content="https://raxmice.github.io/rx/img/logo.svg">
    <meta property="og:type" content="website">
    <meta property="og:description" content="
I'm currenty available for freelance work. If you have a project that you want to get started, think you need my help with something then contact me.">
    <meta name="robots" content="index, follow">
    <%- include('includes/plugs'); %>
</head>
<body>
    <%- include('includes/header'); %>
    <%- include('index/navbutton'); %>
    <div class="backbox"></div>
    <%- include('index/secone'); %>
    <%- include('index/sectwo'); %>
    <div class="aboutbox"></div>
    <%- include('index/secabout'); %>
    <%- include('index/motivation'); %>
    <%- include('index/skillbg'); %>
    <%- include('index/skills'); %>
    <%- include('index/projects'); %>
    <%- include('index/contact'); %>
    <%- include('includes/footer'); %>
</body>
<%- include('includes/plugjs'); %>
</html>
