<span id="projects"></span>
<section class="projects light">
    <h2 class="hsub">Personal Projects</h2>
    <% for (var i=0; i<proj.length; i++){ %>
            <% let codes = JSON.stringify(proj[i]); %>
            <% codes = codes.substring(codes.indexOf('[')+1,codes.lastIndexOf(']')); %>
            <% codes=codes.replaceAll('"', ''); %>
            <% codes=codes.replaceAll(',', ' '); %>
            <% codes = codes.split(" "); %>
        <% var pname=proj[i].pname; pdes=proj[i].pdes; ldemo=proj[i].Ldemo; git=proj[i].git; img=proj[i].img; %>
    <div class="project">
        <div class="about-p">
            <div>
            <h2 class="p-head"><%=pname%></h2>
            <p class="p-des"><%=pdes%></p>
            </div>
            <div class="live-git">
                <div class="lg">
                <a href="<%=ldemo%>" target="_blank" class="live-demo">Live Demo</a>
                <a href="<%=git%>" target="_blank"><img src="img/githubw.svg" alt="netflix clone" class="git"></a>
                </div>
                <div class="lg">
                    <% for (var j=0; j<codes.length; j++){ %>
                    <img src="img/codes/<%=codes[j]%>.svg">
                    <% }%>
                </div>
            </div>
        </div>
        <div class="view">
            <img src="img/demo/<%=img%>.png" alt="<%=pname%>" class="demo">
        </div>
    </div>
<% } %>
</section>